/*.container-fluid{ overflow:hidden;}*/
/*
@font-face {
font-family:'din-bold';
src:url('../fonts/din-bold_.ttf');
font-weight: normal;
    font-style: normal;
}
@font-face {
font-family:'helvetica';
src:url('../fonts/RTWSYueGoTrial-ExLight.otf');
font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'PingFangSC-Semibold';
    src: url('../fonts/pingfang.ttf');
}
body{font-family:"PingFangSC-Semibold"; height:100%;font-size: 14px;}

input,textarea{
  -webkit-appearance: none;
}
.container-fluid,.row{ margin: 0px; padding: 0px;}
body, div, p, ul, ol, dl, dt, dd, li, form, input, table, img, h1, h2, h3, h4, h5, h6{margin:0;padding:0; font-weight:normal;}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{ padding:0px;}

img, a img{border:0 none;}
img.no_border{background:none;border:0 none;}
img {
    border: 0;
	height: auto;
	width:auto;
	-ms-interpolation-mode: bicubic;
}
ul, ol{list-style-type:none;}

.fl{ float:left;}
.fr{ float:right;}
#left,#right{cursor:pointer;}
.clear{clear:both;height:0;line-height:0;font-size:0;visibility:hidden;overflow:hidden}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;zoom:1;}

* html .clearfix {height: 1%;} 
a:link, a:visited{color:#333;}
a:hover{color:#00a0e9;}
a:hover, a:active, a:link, a:visited{text-decoration:none;}
*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/*
.navbar{border:0px;}
.navbar-default{ background-color: #fff;}
.nav_box{ width: 1200px; margin: 0 auto;}
.navbar-default .navbar-brand{ padding: 0px;}
.navbar-nav{ float: none; width: 60%; margin: 0 auto; padding-top: 5px;}
.navbar-nav li a{ font-size: 16px;} 
.container-fluid,.row,.navbar-collapse{margin: 0px; padding: 0px;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{ margin: 0px;}
.nav>li>a{ padding: 10px 20px;}
*/
 .banner_mask { position: absolute;opacity: 0;top: 0px; width: 100%; height: 100%; display: block;background: url(../images/banner_mask.png);}
.navigation_box{ width: 100%;position: absolute;height: 90px;top: 0;background: #fff;z-index: 10;background: none;}
.navigation_box .i_box{ width: 1200px; height: 90px; padding: 15px 0; margin: 0 auto; position: relative;}
.navigation_box .i_box .logo{ position: absolute; left: 0px; top: 10px;}
.navigation_box .i_box .tele{ position: absolute; right: 0px; top: 10px;}

.tabnanvlist{ text-align:center; color:#fff; width:70%; position:absolute; left:0px; right: 0px; margin:auto;top:0%; }
.tabnanvlist table{ width:100%; height:100%; text-align:center; vertical-align:middle;}

.second_nav{ width:100%; position: absolute;   top: 90px; left: 0px; right: 0px; height: 60px; line-height: 60px; margin:auto;content:""; text-align: center;
	background-image: url(../images/nav_bg.png) ;
	background-position: 0px 0px; 
	background-repeat:repeat-x;
	background-color: #fff;
	z-index: 999;
  opacity: 0.6;
  }
.second_nav a{ color:#000; font-size:16px; line-height:36px; padding:2px 0px; margin:0 40px; display:inline-block; position:relative; padding:0px\9;border-bottom:2px solid #01b5b7\9;}
.second_nav a:after{ content:""; display:block; width:0px; height:2px; position:absolute; left:50%; bottom:0px; background:#333; transition:all 0.3s; transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transition:all 0.3s; -ms-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s; display:none\9;}
.second_nav a:hover:after,.second_nav a.chostd:after{ width:100%; display:none\9; }
.second_nav a:hover,.second_nav a.chostd{border-bottom:2px solid #fff\9; border:0px\0;color:#333;}


.ternnavlist{}
.ternnavlist a{ color:#fff; font-size:16px; line-height:90px; height: 90px; padding:0px 0px; margin:0 40px; display:inline-block; position:relative; padding:0px\9;border-bottom:2px solid #01b5b7\9;}
.ternnavlist a:after{ content:""; display:block; width:0px; height:2px; position:absolute; left:50%; bottom:10px; background:#fff; transition:all 0.3s; transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transition:all 0.3s; -ms-transition:all 0.3s; -o-transition:all 0.3s; -webkit-transition:all 0.3s; display:none\9;}

.ternnavlist a:hover:after,.ternnavlist a.chostd:after{ width:100%; display:none\9; }
.ternnavlist a:hover,.ternnavlist a.chostd{border-bottom:2px solid #fff\9; border:0px\0;}
.indus a{margin:0 2%;}
.slide-text{ width: 90%; top: 30%;}
.news_box{ width: 1200px; padding-bottom: 20px; margin: 0 auto; overflow: hidden;}
.news_box .news_title{ font-size: 28px; color: #333; padding: 15px 2px;}
.slide a{ position: relative; width: 100%; height: 100%; display: block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-webkit-text-overflow:ellipsis;}
.slide a b{ z-index: 10;}
.item .container{ z-index: 10; }
.item b{ z-index: 1;}
.slide h1{ font-size: 15px; padding: 10px 0; font-weight: bold; text-align: center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-webkit-text-overflow:ellipsis;}
.slide h2{    font-size: 12px; line-height: 18px;
    overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;}
/*视频*/
.vPlayBox {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    position: relative;
}

.vPlayBox img {
    max-width: 100%;
}

.vPlayBox h5 {
    position: absolute;
    top: 10%;
    left: 0;
    color: #fff;
    font-size: 38px;
    width: 100%;
    text-align: center;
    font-weight: normal;
}

#a1 {
    height: 100%;
    text-align: center;
    margin: auto;
}

.vPlayBox object {
    height: 440px!important;
    width: 782px !important;
    margin: auto !important;
}

.vPlayBox embed {
    height: 440px !important;
    width: 782px !important;
}

.vPlayBox video {
    height: 440px;
    display: block;
    margin: 0 auto!important;
}
#a1 i {
    width: 99px;
    height: 99px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -49.5px;
    left: 50%;
    margin-left: -49.5px;
    background: url(../images/playmenus.png) no-repeat;
    cursor: pointer;
}

#a1 i.active {
    background: url(../images/playmenus01.png) no-repeat;
}
.ability_list{ width: 1200px; margin: 0 auto; overflow: hidden;}
.ability_list ul{ margin-left: -2%;}
.ability_list ul li{ width: 31.333%; margin-left: 2%; float: left;}
.ability_list ul li p{ position: relative;}
.ability_list ul li p b{ width: 100%; height: 100%; display: block;}
/*.ability_list ul li p a{position: relative; z-index: 10;}*/
.ability_list ul li p img{ width: 100%;}
.ability_list ul li h1{ font-size: 18px; font-weight: bold; padding: 10px 0 5px 0; text-align: center;}
.ability_list ul li h2{ width: 80%; margin: 0 auto;text-align: center;
	    font-size: 14px; line-height: 18px;
    overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.ability_box{ width: 1200px; margin: 10px auto; overflow: hidden;}
.ability_box .first{ max-height: 400px; overflow: hidden;}
.ability_box .first img{opacity:0.12;}
.ability_box .first .a_left{ float: left; width: 65.9%; height: 400px; background:url(../images/banner10.jpg) no-repeat center center;background-size:cover; position: relative;}
.ability_box .first .a_left img{ width: 100%; }
.ability_box .first .a_left b{ position: absolute; left: 0px; right: 0px; color: #fff; font-size: 30px; text-align: center; bottom: 20px; margin: auto; display: block; content:"";}
.ability_box .first .a_left a{ width: 100%; height: 100%; display: block;}
.ability_box .first .a_right{float: left; width: 32.98%; height: 400px; margin-left: 1%;background:url(../images/banner11.jpg) no-repeat center center;background-size:cover; position: relative;}
.ability_box .first .a_right img{ width: 100%; }
.ability_box .first .a_right b{ position: absolute; left: 10px;  color: #fff; font-size: 30px; top: 20px; margin: auto; display: block; content:"";}
.ability_box .first .a_right em{ position: absolute; left: 10px;  text-align: center; color: #fff; font-size: 30px;  bottom: 20px; margin: auto; display: block; content:""; font-style: normal; font-weight: bold;}
.ability_box .first .a_right a{ width: 100%; height: 100%; display: block;}
.map_box{ width: 1200px; margin: 0 auto; overflow: hidden; position: relative;}
.map_box h1{ position: absolute; top: 20px; left: 30px; display: block;font-size: 30px; color: #fff;  font-weight: bold; z-index: 10;}
.map_box img{ width: 100%;}


.map{width:1200px;margin: 0 auto 0px auto;	background: url(../images/1086.jpg) no-repeat; position: relative;
    background-size:cover; padding-bottom:30px;}
.map b{}
.shopexcase{ position: relative; z-index: 10;}
.shopexcase h1{ font-size: 28px; text-align: center; color: #fff; padding: 35px 0 15px 0;}
.shopexcase h2{ font-size: 14px; text-align: center; color: #fff; padding-bottom: 30px;}
.shop_head{ width: 80%; margin: 0 auto;}
.shop_head .nav-tabs{ border-bottom:0; text-align: center;}
.shop_head .nav-tabs li{ float: none; padding: 5px 20px;border:1px solid #fff;;
display: inline-block;
vertical-align: middle;
box-sizing: border-box;

font-size: 16px;
color: #FFFFFF;
cursor: pointer;
}
.nav-tabs > li > a{border-radius:0px; color: #fff; margin-right: 0px; border:0px; line-height:normal; padding:0;}
.nav-tabs > li > a:hover{ background-color: transparent;line-height:normal;padding: 0px;}
.nav-tabs > li.active{ background-color: #268cf4;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color: transparent;border:0px;padding:0px; color: #fff;}

.nav-tabs > li{ margin: 0px;}
.coop_list{ width: 1040px; margin: 5% auto 0 auto; overflow: hidden;}
.coop_list ul{}
.coop_list ul li{
	margin: 5px;
	display: inline-block;
	vertical-align: top;
	width: 194px;
	background: rgba(255,255,255,0.5);
}
.coop_list ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.coop_list ul li a img{
	display: block;
	width: 100%;
	height: 100%;
}
.customer_box{ width: 100%; background-color: #333; padding: 40px 0; overflow: hidden;}
.customer_box ul{ width: 1200px; margin: 0 auto; text-align: center;}
.customer_box ul li{ width: 24%; display: inline-block; overflow: hidden;} 
.customer_box ul li h1{ font-size: 18px; color: #fff; font-weight:bold;}
.customer_box ul li h2{ font-size: 13px; color: #737373;}
.customer_box ul li .c_left{ float: left; width: 30%;}
.customer_box ul li .c_right{ float: right; width: 70%; padding-top: 15px;}
.customer_box ul li .c_right h1{ text-align: left;}
.customer_box ul li .c_right h2{ padding-top: 10px; text-align: left;}

/*二级页面*/
.line_b{border-bottom:2px solid #f3f3f3;}
.anli_box{ width: 1200px; margin: 0 auto; overflow: hidden;}
.anli_box .a_left{ width: 240px; float: left;}
.anli_box .a_left .anli_list{ width: 100%; background-color: #f3f3f3; margin-top: 3px;}
.anli_box .a_left .anli_list ul{}
.anli_box .a_left .anli_list ul h1{ font-size: 18px; height: 50px; line-height: 50px;border-bottom:1px solid #dfdfdf;}
.anli_box .a_left .anli_list ul li{ width: 100%; height: 50px; line-height: 50px; border-bottom:1px solid #dfdfdf;cursor:pointer;}
.anli_box .a_left .anli_list ul li.active{ background-color: #0165b6; color: #fff;}
.anli_box .a_left .anli_list ul h1 i{ font-size: 24px;}
.anli_box .a_left .anli_list ul li span{ font-size: 20px; margin-left: 11%;}
.anli_box .a_right{ width: 920px;  float: right;}
.anli_box .a_right .chenggong{ padding: 5px 0; overflow: hidden;}
.anli_box .a_right .chenggong .c_left b{ float: left; font-size: 18px; font-weight: normal; margin-top: 5px;}
.anli_box .a_right .chenggong .c_left .iconfont{ color: #ffb800; padding-left: 0px;}
.anli_box .a_right .chenggong .c_right{  float: right; font-size: 12px; color: #999; margin-top: 15px; margin-right: 1%;}
.anli_box .a_right .chenggong .c_right a{ color: #999;}
.anli_box .a_right .hezuo{ float: left; padding: 15px 0;}
.anli_box .a_right .hezuo b{float: left; font-size: 18px; font-weight: normal; margin-top: 5px;  padding-left: 15px; border-left:3px solid #ffb800;}

.anli_box .a_right .list-top-banner{ width: 920px; height: 250px; overflow: hidden;}
.anli_box .a_right .list-top-banner .po-ab{ width: 920px; height: 250px; padding: 15px 0 0 15px; background-image: url(../images/product_header.png) ;background-position: 0px 0px; background-repeat: no-repeat;}
.anli_box .a_right .list-top-banner .anli_title{ overflow:hidden;}
.anli_box .a_right .list-top-banner p{ width: 60px; height: 60px; display: block; float: left;background-image: url(../images/product_header_img.png) ;background-position: 0px 0px; background-size: 60px 60px;  background-repeat: no-repeat;}
.anli_box .a_right .list-top-banner span{ float: left; margin-left: 10px; display: block; font-size: 30px; color: #fff; margin-top: 10px;}
.anli_box .a_right .list-top-banner .anli_center{ margin-left: 74px; float: left;}
.anli_box .a_right .list-top-banner .anli_center span{ width: 65%; line-height: 23px; font-size: 12px; color: #fff; float: left; margin-left: 0px;}
.anli_box .a_right .list-top-banner .banner_btn{ width: 100%; float: left; padding: 10px 0; margin-top: 20px; overflow: hidden;}
.anli_box .a_right .list-top-banner .banner_btn a{ padding: 10px 25px; margin-right: 30px; color:#fff;border:1px solid #fff; float: left;}
.anli_box .a_right .list-top-banner .banner_btn a:hover{ background-color: #0165b6;border:1px solid #0165b6;}
.anli_box .a_right .case_list{ width: 100%;overflow: hidden;}
.anli_box .a_right .case_list ul{ width: 105%; margin-left: -2%;}
.anli_box .a_right .case_list ul li{ width: 31.333%; margin-left: 2%; float: left; }
.anli_box .a_right .case_list ul li a{  display: block; float: left;overflow: hidden;}
.anli_box .a_right .case_list ul li a img{ width: 180px;margin-left: 48px;}
.anli_box .a_right .case_list ul li h1{ width: 100%; float: left;font-size: 12px; color: #999; padding-top: 10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-webkit-text-overflow:ellipsis; }
.anli_box .a_right .case_list ul li h2{ width: 100%; height: 60px; float: left;font-size: 12px; color: #999;    font-size: 12px; padding-top: 5px; line-height: 18px;
    overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
} 
 
.isshowdiv img {
	width:100%;
}
.isshowdiv {
	display: none;
}

.lxwm{ width: 240px; float: left; background-color: #f3f3f3; margin-top: 10px;}
.lxwm h1{ font-size: 18px;}
.lxwm h1{ font-size: 18px; height: 50px; line-height: 50px;}
.lxwm h1 i{ font-size: 24px;}
.lxwm .lxwm_c{border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;}
.lxwm .lxwm_c h2{ font-size: 14px; padding-top: 20px; text-align: center;}
.lxwm .lxwm_c h3{ font-size: 28px; line-height: 50px; color: #999; text-align: center; font-weight: bold;}
.pc_lxwm{ display: none;}
.message{ text-align: center; padding-top: 5px; padding-bottom: 20px; border-bottom:1px solid #dfdfdf;}
.message p{ padding: 5px 0; color: #666; font-size: 14px; text-align: center; margin-top: 10px;}
.food_list{ width: 100%; float: left; background-color: #f8f8f8;border-bottom:5px solid #f8f8f8;  border-right:5px solid #f8f8f8;   overflow: hidden;}
.food_list ul{}
.food_list ul li{ width: 16.666%; text-align: center; float: left;   padding: 5px 0 0 5px;}

.banner {
  padding-top: 6%;
  height: 600px;
  background: url("../images/coo_banner.jpg") #413393 no-repeat center center;
  text-align: center;
  box-sizing: border-box;
}
.second-banner {
  padding-top: 6%;
  height:144px;
  background: url("../images/xiao (2).jpg") #413393 no-repeat center center;
  text-align: center;
  box-sizing: border-box;
}

.new{ width: 100%; height: 240px; background-image: url(../images/ecological-shadow.jpg) ;background-position: center center; background-size: cover; background-repeat: no-repeat;}
.banner img{ margin-top: 3%; margin-bottom: 3%;}
/* line 7, ../sass/_index.scss */
.banner p {
  margin-top: 0%;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}

/* line 13, ../sass/_index.scss */
.banner a { width: auto; height: auto; line-height: normal;
  margin-top: 3%;
	padding: 10px 20px;
  display: inline-block;
  background: #F90000;
  font-size: 20px;
  color: #fff;
}


.new_banner{ width: 100%; height: 240px; background-image: url(../images/2016715145555868410.jpg) ;background-position: 0px 0px; background-size: cover; background-repeat: no-repeat;}
.newshow_banner{ width: 100%; height: 240px; background-image: url(../images/2016751150529549450.jpg) ;background-position: center center; background-size: cover; background-repeat: no-repeat;}
.fuwu_banner{ width: 100%; height: 240px; background-image: url(../images/xiao2.jpg) ;background-position: center center; background-size: cover; background-repeat: no-repeat;}
.new_box{ width: 1200px; margin: 0 auto;}
.new_box .new_title{ margin: 10px 0; border-bottom:1px solid #a4a5aa; padding: 10px 0; text-align: right; padding-right: 20px;}
.new_box .new_left{ width: 50%; float: left;}
.new_box .new_left .all_t{}
.new_box .new_left span{ width: 50%; float: left;}

.new_box .new_right{ width: 50%; float: left;}
.new_box .new_head{ width: 98%; margin: 0 auto;}
.new_box .new_head h1{ font-size: 24px; text-align: center; }
.new_box .new_head h2{ padding: 15px 0; font-size: 14px; text-align: center;}
.new_box .new_center{ width: 98%; margin: 0 auto; padding-bottom: 30px;}
.new_box .new_center p{ text-indent: 28px; font-size: 14px; line-height: 27px; padding-bottom: 20px;}
.new_box .new_center span{ width: 100%; display: block;text-align: center; margin: 0 auto;}
.new_box .new_center span img{  margin: 0 auto;}

.list-zp{ overflow: hidden; padding-bottom: 50px;}
/*信息技术*/
.changeBgs {
    width: 1000px;
    margin: auto;
    position: relative;
}
.info-final {
    margin: auto;
    max-width: 1280px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.recruit-cont {
    margin-top: 18px;
    overflow: hidden;
}

.recruit-cont .floatDiv02-cont h3 {
    padding-top: 0;
    padding-bottom: 10px;
    border-top: 0;
    border-bottom: 3px solid #e60000;
    font-weight: normal;
    text-shadow: 1px 1px 1px #fff;
}


.changeBgs ul {
    margin: 0;
    overflow: hidden;
}

.changeBgs ul li {
    position: relative;
    float: left;
    cursor: pointer;
    margin-bottom: 6px;
}

.changeBgs ul li.marginR5 {
    margin-right: 0.4%;
}

.changeBgs ul li img {
    display: block;
    width: 100%;
    margin: auto;
}

.changeBgs ul li .f01 {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    background: url(../images/icons41.png) repeat;
}

.changeBgs ul li .f01 p {
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 56px;
    margin: 0;
}

.changeBgs ul li .f02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/icons41.png) repeat;
    text-align: center;
}

.changeBgs ul li .f02 h5 a {
    margin: 0 !important;
    padding: 8px 0 23px 0 !important;
    font-size: 18px !important;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px !important;
}

.changeBgs ul li .f02 a {
    display: block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 24px;
}

.changeBgs ul li .f02 a span {
    display: inline-block;
    padding-left: 20px;
}

.changeBgs ul li .f02 a:hover {
    color: #e60000;
}

.changeBgs ul li .f02 a:hover span {
    background: url(../images/icons42.png) left no-repeat;
}
/*通用侧导航*/
.second-banner {
    position: relative;
    overflow: hidden
}

.second-banner img {
    display: block;
    width: 100%;
}

.second-banner ul {
    overflow: hidden;
    position: relative;
    z-index: 10;
    text-align: center;
    bottom: 0;
}

.second-banner ul li {
    display: inline-block;
    text-align: center;
    position: relative;
    width:8%; margin-top: 3px;
}

.second-banner ul li i {
    width: 1px;
    height: 40px;
    display: block;
    position: absolute;
    right: 1px;
    top: 0;
/*    background: url(../images/pic41.jpg) no-repeat;*/
}

.second-banner ul li:last-child i {
    width: 0;
    height: 0;
    background: none;
}

.second-banner ul li a {
    display: block;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    background: url(../images/icons29.png) repeat;
    padding: 0 14px;
}

.second-banner ul li a:hover {
    background: #d10101;
}

.second-banner ul li a.active {
    background: #d10101;
}
.banNavst {
    position: absolute;
    left: 0%;
	right: 0;
    bottom: 0px;
    width: 100%;margin:auto;content:"";
}
.main-titles {
    text-align: center;
    margin-bottom: 10px;
/*margin-top:33px;*//*border-top:1px solid #333;*/
}

.main2 h1{font-size: 48px;}

.main-titles p {
    display: inline-block;
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 3px solid #e60000;
    margin: 10px 0;
    padding-top: 15px;
}
.floatDiv02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.floatDiv02-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: #000;
    opacity: 0.5;
}
.floatDiv02.active {
    background: #fff;
}
.floatDiv02-bg,.floatDiv02{transition:all 0.5s;}

.floatDiv02-bg{display:none;transition:all 0.5s;}

.floatDiv02:hover .floatDiv02-bg{display:block;}
.floatDiv02-cont {
    width: 700px;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 10;
}

.floatDiv02-cont h3 {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 8px;
    border-bottom: 3px solid #e60000;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.floatDiv02-cont p {
    color: #fff;
    line-height: 26px;
    margin: 0;
}

.floatDiv02-cont a {
    width: 115px;
    height: 26px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 26px;
    display: block;
    margin: auto;
    font-size: 12px;
    color: #fff;
    margin-top: 30px;
}

.floatDiv02-cont a:hover {
    color: #fff;
    background: #e60000;
    border-color: #e60000;
}

.jsfw_box{ width: 1200px; margin: 0 auto; padding: 20px 0;	}
.jsfw_box p{ width: 100%; font-size: 22px;}
.jsfw_box h1{ font-size: 18px; margin-top: 18px;}
.jsfw_box h2{ font-size: 14px; margin-top: 10px; line-height: 24px;}











/*按钮*/
.btn-button-gb-blue{ margin: 0 auto; text-align: center; border:1px solid #0165b6; background:#0165b6; border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;color:#fff;cursor:pointer;padding-top:2px;padding-bottom:2px; }
.btn-button-gb-blue:hover{color:#0165b6;background:#fff;}

.btn-button-gb-blue3{background:#0165b6; color:#fff; display:block; border:1px solid #0165b6;padding:0 10px;}
.btn-button-gb-blue3:hover{background:#fff; color:#0165b6;}

.btn-button-gb-blue2{ background:#0165b6; border:1px solid #0165b6; color:#fff;}
.btn-button-gb-blue2:hover{ border:1px solid #0165b6; background:#fff; color:#0165b6;}

.btn-button-gb-blue4{ background:#0165b6; border:1px solid #0165b6; color:#fff;}
.btn-button-gb-blue4:hover{border:1px solid #0165b6; background:#0769f9;}

.recCase-box ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.recCase-box li {
	background: #fff;
	margin-bottom: 20px;
	width: 15%;
}
.recCase-box li img {
	width: 100%;
}
.containers {
    max-width: 1108.38px;
    margin: auto;
}
/*中间部分*/
.ej-cont {
    padding-bottom: 30px !important;
}

.ej-cont:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.ej-cont-l {
    float: left;
    width: 15%;
    border-right: 1px solid #a4a5aa;
    padding: 20px 0;
    margin-left: 30px;
}

.ej-cont-l ul {
    margin: 0;
}

.ej-cont-l ul li {
    margin: 0;
    margin-bottom: 40px;
    margin-top: -20px;
}

.ej-cont-l ul li.li01 {
    font-size: 18px;
    color: #333333;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #a4a5aa;
}

.ej-cont-l ul li a {
    display: block;
    text-align: right;
    padding-right: 32px;
    color: #333333;
}

.ej-cont-l ul li a:hover {
    color: #e60000;
}

.ej-cont-l ul li a.active {
    color: #e60000;
}

.ej-cont-r {
    float: right;
    width: 73%;
}

.ej-cont-r h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin: 0;
    line-height: 18px;
    margin-bottom: 28px;
}

.ej-cont-r img {
    margin-bottom: 28px;
}

.ej-cont-r p {
    font-size: 14px;
    color: #333333;
    line-height: 32px;
    margin-bottom: 30px;
}
/*20150810*/

.second-banner ul.num4 li {
    width: 25%;
}

.second-banner ul.num4 li:last-child i {
    width: 0;
    height: 0;
    background: none;
}

.ej-cont-l dl {
    width: 93px;
    margin: auto;
    text-align: center;
}

.ej-cont-l dl dt {
    width: 93px;
    height: 93px;
    background: url(../images/pic14.jpg) no-repeat;
    line-height: 93px;
    color: #fff;
    font-size: 60px;
    font-family: 'Arial';
    font-weight: normal;
}

.ej-cont-l dl dd {
    font-size: 18px;
    color: #333333;
    font-family: 'Arial';
    margin: 0;
    padding-top: 10px;
}

.noBorderR {
    border-right: 0;
}

.flex_imghonor {
	/*display: flex;
	flex-wrap: wrap;*/
	width: 1200px;
	margin: 0 auto;
}
.flex_imghonor img {
	width: 25%;
	margin: 20px;
}



.foot_box{ width: 100%;background-color: #1d1d1d; padding: 40px 0; overflow: hidden;}
.foot_box ul{ width: 1200px; margin: 0 auto;}
.foot_box ul li{ width: 16.666%; float: left; color: #fff;}
/*
.foot_box ul li:first-child{ margin-left: 6%; width: 16%;}
.foot_box ul li:last-child{ width: 7%;}
*/
.foot_box ul li h1{ font-size: 16px; padding: 10px 0; text-align: center;}
.foot_box ul li h1 span{ margin-left: 20px; position: relative;}
.foot_box ul li h1 span:before{ position: absolute;width:20px; height:20px; left:-22px; top: 1px; content: "";}
.foot_box ul li h1 span.f1:before{background: url(../images/zn_icon1.png) no-repeat; }
.foot_box ul li h1 span.f2:before{background: url(../images/zn_icon2.png) no-repeat; }
.foot_box ul li h1 span.f3:before{background: url(../images/zn_icon3.png) no-repeat; }
.foot_box ul li h1 span.f4:before{background: url(../images/zn_icon4.png) no-repeat; }
.foot_box ul li h1 span.f5:before{background: url(../images/zn_icon5.png) no-repeat; }
.foot_box ul li h1 span.f6:before{background: url(../images/zn_icon6.png) no-repeat; }
.foot_box ul li h1 span.f7:before{background: url(../images/zn_icon7.png) no-repeat; }
.foot_box ul li h2{ font-size: 13px; padding: 5px 0; text-align: center; }
.foot_box ul li h2 a{ color: #fff;}
.foot_box ul li h2 a:hover{ color: #fff;}

/*移动端导航*/
.m_list{ display: none;top: 55px; position: absolute; left: 0px; right: 0px; margin: auto;content:""; z-index: 9999;}
.panel-group .panel{border-radius:0px;border-bottom:1px solid #C2C2C2;}
.panel-group .panel + .panel{ margin: 0px;}
.panel-heading{border-radius:0px; padding: 8px 15px; position: relative;}
.panel{border:0px;}
.panel-title{ font-size: 14px;}
.panel-heading b{ position: absolute; width: 12px; height: 8px; right: 4%; top: 5px; display: block;}
.panel-heading b img{width: 12px; height: 8px;}
.panel-heading .close{ width: 30px; height: 30px; right: 2%; display: block;}
.panel-heading .close img{ width: 22px; height: 14px;}
.panel-body{ padding: 5px 15px;}
.panel-body ul{}
.panel-body ul li{ padding: 3px 0;}
/*隐藏移动端部分*/
.move_box{ display: none;}
.m_list{ display: none;}

.coop{width:80%;margin:auto;}
.coop ul li{padding:2px;}
.coop ul li div {background-color:rgba(255,255,255,0.4);}
.over-hide{overflow: hidden;}
.w-perCent100{width:100%;}

.join-container{width:100%;position:relative;height:300px;background:url(../images/img-join-1.b53f4f17.jpg) center top no-repeat;background-size:cover}
.join-container .cn{position:absolute;left:0;top:0;width:100%;height:100%;color:#fff;background-color:rgba(25,25,25,.2);display:flex;justify-content:center;align-items:center}
.join-container .cn .btns{display:flex;justify-content:center}
.btn-transparent,.btn-transparent:active,.btn-transparent:focus,.btn-transparent:link,.btn-transparent:visited{color:#fff;background-color:transparent}
.btn-transparent{border:1px solid #fff}
.btn-transparent:hover{background-color:#fff;color:#3fb3fe}



