<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.3, maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
	<meta name="description" content="蓝海汇科技_中国最大的IT解决方案与服务提供商_主营：软件开发_App开发_微信开发_智慧城市_解决方案"/>
	<meta name="keywords" content="蓝海汇科技_中国最大的IT解决方案与服务提供商_主营：软件开发_App开发_微信开发_智慧城市_解决方案"/>
	<title>蓝海汇网络科技有限公司</title>
	<link rel="Shortcut Icon" href="images/favicon.ico"/>
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link href="css/font-awesome.min.css" rel="stylesheet" media="all">
	<link href="css/animate.min.css" rel="stylesheet" media="all">
	<!-- Bootstrap bootstrap-touch-slider Slider Main Style Sheet -->
	<link href="css/bootstrap-touch-slider.css" rel="stylesheet" media="all">
	<link rel="stylesheet" href="css/jquery.bxslider.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/media.css"/>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.bxslider.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/home.min.js"></script>
	<script src="js/public.js"></script>
	<!-- 自定义样式 -->
	<link rel="stylesheet" href="css/solution-style.css"/>
	<script src="js/PicCarousel.js"></script>
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?330cfe6c4ad2dbeee1c5e7999ef1a72d";
		var s = document.getElementsByTagName("script")[0]; 
		s.parentNode.insertBefore(hm, s);
	})();
</script>
</head>


<body class="index">
	<div class="container-fluid">
		<div class="row">
			<!--pc端导航开始-->
			<header class="pc_header">
				<div class="navigation_box">
					<div class="i_box">
						<p class="logo"><img src="images/logo.png" /></p>
						<div class="tabnanvlist indus p_server">
							<div class="ternnavlist ind_pro">
								<a href="index.html">首页</a>
								<a class="erp">ERP<b></b></a>
								<a class="mes">MES<b></b></a>
								<a class="wms">WMS<b></b></a>
								<a class="pro_title">产品<b></b></a>
								<a href="anli_jingdian.html">客户案例</a>
								<a href="chuangxinhezuo.html">合作</a>
								<a href="about.html">关于我们</a>
							</div>
						</div>
						<p class="tele"><img src="images/phone.png" /></p>
					</div>
				</div>
				<!--ERP-->
				<div class="second_nav erp_c">
					<a href="erp_saas.html">蓝智云 ERP</a>
					<a href="erp_paas.html">蓝智云 Paas</a>
				</div>
				<!--MES-->
				<div class="second_nav mes_c">
					<a href="mes_pass.html">蓝智云 Paas</a>
				</div>
				<!--WMS-->
				<div class="second_nav wms_c">
					<a href="wms_saas.html">蓝智云 WMS</a>
					<a href="wms_paas.html">蓝智云 Paas</a>
				</div>
				<!--产品-->
				<div class="second_nav product">
					<a href="chanpin_aps.html">蓝脑通 APS</a>
					<a href="chanpin_oms.html">蜂鸟云 OMS</a>
					<a href="chanpin_plm.html">蓝海汇 PLM</a>
				</div>
				<!--企业信息化結束-->
				<!--工业信息化开始-->
				<!-- <div class="second_nav scheme_c">
					<a href="solution/ERP.html">ERP进销存管理系统</a>
					<a href="solution/systemDevel.html">MES生产自动执行系统</a>
					<a href="solution/warehouse.html">WMS仓库管理系统</a>
				</div> -->
				<!--工业信息化結束-->
			</header>
			<!--pc端导航结束	-->
			<div class="move_box">
				<p class="m_logo"><img src="images/logo.png" /></p>
				<p class="telephone"><img src="images/phone.png" /></p>
				<p class="r_icon"></p>
			</div>
			<div class="m_list">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href="index.html">首页</a>
							</h4>
							<!--			<b class="close"><img src="images/top_nav_close.png"/></b>-->
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a  data-toggle="collapse" data-parent="#accordion"  href="#collapseOne">ERP</a>
							</h4>
							<b><img src="images/arrow_down2.png"/></b>
						</div>
						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body">
								<ul>
									<li><a href="erp_saas.html">蓝智云 ERP</a></li>
									<li><a href="erp_paas.html">蓝智云 Paas</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"  href="#collapseTwo">MES</a>
							</h4>
							<b><img src="images/arrow_down2.png"/></b>
						</div> <div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<ul>
									<li><a href="mes_pass.html">蓝智云 Paas</a></li>
								</ul>
							</div>
						</div> 
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"  href="#collapseThree">WMS</a>
							</h4>
							<b><img src="images/arrow_down2.png"/></b>
						</div>
						 <div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<ul>
									<li><a href="wms_saas.html">蓝智云 WMS</a></li>
									<li><a href="wms_paas.html">蓝智云 Paas</a></li>
								</ul>
							</div>
						</div> 
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"  href="#collapseFive">产品</a>
							</h4>
							<b><img src="images/arrow_down2.png"/></b>
						</div>
						<div id="collapseFive" class="panel-collapse collapse">
							<div class="panel-body">
								<ul>
									<li><a href="chanpin_aps.html">蓝脑通 APS</a></li>
									<li><a href="chanpin_oms.html">蜂鸟云 OMS</a></li>
									<li><a href="chanpin_plm.html">蓝海汇 PLM</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href="anli_jingdian.html">客户案例</a>
							</h4>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a  href="chuangxinhezuo.html">合作</a>
							</h4>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a  href="about.html">关于我们</a>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- start  bootstrap-touch-slider Slider -->
<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" style=" max-height:none;" >
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
	</ol>

	<!-- Wrapper For Slides -->
	<div class="carousel-inner" role="listbox">

		<!-- Third Slide -->
		<div class="item active">

			<!-- Slide Background -->
			<img src="images/wms_paas_banner.jpg" alt=""  class="slide-image"/>
			<div class="bs-slider-overlay banner_mask"></div>
			<!-- Slide Text Layer -->
			<div class="slide-text slide_style_center">
				<h1 class="small-text" data-animation="animated flipInX " style="font-size: 25px;width: 100%;line-height: 25px;">
					
				</h1>
				<h1 data-animation="animated zoomInLeft">盒子云WMS</h1>
				<p data-animation="animated fadeInRight">缔造完美智能仓库</p>
				<!--<a href="#" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>-->
				<a href="honor.html"  class="btn btn-danger" data-animation="animated fadeInRight">了解详情</a>
			</div>
		</div>
		<!-- End of Slide -->

		


	</div><!-- End of Wrapper For Slides -->

	<!-- Left Control -->
	<a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
		<span class="fa fa-angle-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>

	<!-- Right Control -->
	<a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
		<span class="fa fa-angle-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>

</div> 
<!-- End  bootstrap-touch-slider Slider -->	
<div class="points_box">
<div class="points">
	<ul>
		<li>
			<img src="images/icon-point-1.92c56528.png">
			&nbsp;&nbsp;基于条码的库位管理 
		</li>
		<li>
			<img src="images/icon-point-2.0cbabec8.png">
			&nbsp;&nbsp;智能化的上下架策略 
		</li>
		<li>
			<img src="images/icon-point-3.3a8e473a.png">
			&nbsp;&nbsp;多包装批次收发作业 
		</li>
		<li>
			<img src="images/icon-point-4.6915a13a.png">
			&nbsp;&nbsp;合理高效的人员管理 
		</li>
	</ul>
</div>	
</div>
<div class="choices_box">
	<h1>为什么选择盒子云</h1>
	<h2>您的仓库是否有如下问题</h2>
	<ul id="da-thumbs" class="da-thumbs">

	    <li>
		  <span class="choice-wrapper">
			  <img src="images/icon-choice-1.686854ec.jpg">
			  <h1 class="desc">出入库手工操作，人工表格记账，差错无法有效跟踪</h1>
			  <div class="hot_info">
				  <h2 title="">Vwms全程记录所有操作过程，精确跟踪每一个动作，库存管理更透明</h2>
			  </div>
		  </span>  
		</li>

		<li>
			<span class="choice-wrapper">
				<img src="images/icon-choice-2.0187457f.jpg">
				<h1 class="desc">无有效库位管理，上架凭人工经验，经常找不到货</h1>
				<div class="hot_info">
					<h2 title="">智能分配的拣货策略，多种拣货方式组合，清晰的作业任务指导</h2>
				</div>
			</span> 
		</li>

		<li>
			<span class="choice-wrapper">
				<img src="images/icon-choice-3.b24b5b7b.jpg">
				<h1 class="desc">门店铺货，无法有效分拨，重复点数</h1>
				<div class="hot_info">
					<h2 title="">直通越库，扫描提示分拨门店，一次解决收货清点、发货分拨作业</h2>
				</div>
			</span> 
		</li>

		<li>
			<span class="choice-wrapper">
				<img src="images/icon-choice-4.8ed3f916.jpg">
				<h1 class="desc">忽略包装，明明可以整箱出库，但是开单数据只显示件数</h1>
				<div class="hot_info">
					<h2 title="">多级包装管理，按实际仓库场景区分不同层级包装出入库</h2>
				</div>
			</span> 
		</li>

		<li>
			<span class="choice-wrapper">
				<img src="images/icon-choice-5.858bcca1.jpg">
				<h1 class="desc">效期控制靠人工，肉眼识别考视力，效率始终上不去</h1>
				<div class="hot_info">
					<h2 title="">严格的效期控制和预警，先到期先出，近效期提醒</h2>
				</div>
			</span> 
		</li>       

		<li>
			<span class="choice-wrapper">
				<img src="images/icon-choice-6.fbeb0d11.jpg">
				<h1 class="desc">上下游企业无衔接，掌握不了货品实时库存，供应链弹性差</h1>
				<div class="hot_info">
					<h2 title="">开放的API接口，支持奇门及各主流ERP对接</h2>
				</div>
			</span> 
		</li>

		



	</ul>
</div>
<div class="contrast">
	<div class="cont_c">
		<h1>PaaS架构与传统架构对比</h1>
		<h2>这个世界总需要革命者</h2>
		<div class="framework">
		<div class="framework-wrapper m-t-30"> 
   <div class="framework-list clearfix"> 
    <ul class="list-unstyled pull-left"> 
     <li>&nbsp;</li> 
     <!-- ngRepeat: title in frameworkTitleList -->
     <li class="f14 title c92 ng-binding ng-scope" ng-repeat="title in frameworkTitleList"> 产品价格 </li>
     <!-- end ngRepeat: title in frameworkTitleList -->
     <li class="f14 title c92 ng-binding ng-scope" ng-repeat="title in frameworkTitleList"> 硬件成本 </li>
     <!-- end ngRepeat: title in frameworkTitleList -->
     <li class="f14 title c92 ng-binding ng-scope" ng-repeat="title in frameworkTitleList"> 安装实施 </li>
     <!-- end ngRepeat: title in frameworkTitleList -->
     <li class="f14 title c92 ng-binding ng-scope" ng-repeat="title in frameworkTitleList"> 升级维护 </li>
     <!-- end ngRepeat: title in frameworkTitleList -->
     <li class="f14 title c92 ng-binding ng-scope" ng-repeat="title in frameworkTitleList"> 数据安全 </li>
     <!-- end ngRepeat: title in frameworkTitleList -->
     <li class="f14 title c92 ng-binding ng-scope" ng-repeat="title in frameworkTitleList"> 系统稳定 </li>
     <!-- end ngRepeat: title in frameworkTitleList -->
     <li class="f14 title c92 ng-binding ng-scope" ng-repeat="title in frameworkTitleList"> 上手难度 </li>
     <!-- end ngRepeat: title in frameworkTitleList -->
     <li class="f14 title c92 ng-binding ng-scope" ng-repeat="title in frameworkTitleList"> 流程便捷 </li>
     <!-- end ngRepeat: title in frameworkTitleList --> 
    </ul> 
    <ul class="list-unstyled pull-left"> 
     <li class="f24 saas clearfix"> <span class="c19 pull-left">PaaS架构</span> 
      <div class="pull-left">
       &nbsp;
      </div> </li> 
     <!-- ngRepeat: saas in frameworkSaasList -->
     <li class="f14 saas clearfix ng-scope" ng-repeat="saas in frameworkSaasList"> <span class="pull-left c33 p-r-15 ng-binding">按单/年收费，计费灵活</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: saas in frameworkSaasList -->
     <li class="f14 saas clearfix ng-scope" ng-repeat="saas in frameworkSaasList"> <span class="pull-left c33 p-r-15 ng-binding">操作用PDA和PC电脑</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: saas in frameworkSaasList -->
     <li class="f14 saas clearfix ng-scope" ng-repeat="saas in frameworkSaasList"> <span class="pull-left c33 p-r-15 ng-binding">无须安装，远程及现场支持</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: saas in frameworkSaasList -->
     <li class="f14 saas clearfix ng-scope" ng-repeat="saas in frameworkSaasList"> <span class="pull-left c33 p-r-15 ng-binding">定时迭代，免费升级</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: saas in frameworkSaasList -->
     <li class="f14 saas clearfix ng-scope" ng-repeat="saas in frameworkSaasList"> <span class="pull-left c33 p-r-15 ng-binding">云端部署，国防级安全措施</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: saas in frameworkSaasList -->
     <li class="f14 saas clearfix ng-scope" ng-repeat="saas in frameworkSaasList"> <span class="pull-left c33 p-r-15 ng-binding">只受网络影响</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: saas in frameworkSaasList -->
     <li class="f14 saas clearfix ng-scope" ng-repeat="saas in frameworkSaasList"> <span class="pull-left c33 p-r-15 ng-binding">基于互联网用户习惯的交互方式</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: saas in frameworkSaasList -->
     <li class="f14 saas clearfix ng-scope" ng-repeat="saas in frameworkSaasList"> <span class="pull-left c33 p-r-15 ng-binding">灵活配置，按需更改</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in saas.stars track by $index"></i>
       <!-- end ngRepeat: star in saas.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: saas in frameworkSaasList --> 
    </ul> 
    <ul class="list-unstyled pull-left"> 
     <li class="f24 tradition clearfix"> <span class="c19 pull-left">传统架构</span> 
      <div class="pull-left">
       &nbsp;
      </div> </li> 
     <!-- ngRepeat: tradition in frameworkTraditionList -->
     <li class="f14 tradition cleafix ng-scope" ng-repeat="tradition in frameworkTraditionList"> <span class="pull-left c33 p-r-15 ng-binding">几十万到几百万，一次性投入大</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: tradition in frameworkTraditionList -->
     <li class="f14 tradition cleafix ng-scope" ng-repeat="tradition in frameworkTraditionList"> <span class="pull-left c33 p-r-15 ng-binding">操作用PDA和PC电脑，服务器及相关软件授权</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: tradition in frameworkTraditionList -->
     <li class="f14 tradition cleafix ng-scope" ng-repeat="tradition in frameworkTraditionList"> <span class="pull-left c33 p-r-15 ng-binding">现场安装，培训实施2个月起</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: tradition in frameworkTraditionList -->
     <li class="f14 tradition cleafix ng-scope" ng-repeat="tradition in frameworkTraditionList"> <span class="pull-left c33 p-r-15 ng-binding">按年更新，升级成本高</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: tradition in frameworkTraditionList -->
     <li class="f14 tradition cleafix ng-scope" ng-repeat="tradition in frameworkTraditionList"> <span class="pull-left c33 p-r-15 ng-binding">自购服务器，自有人员维护</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: tradition in frameworkTraditionList -->
     <li class="f14 tradition cleafix ng-scope" ng-repeat="tradition in frameworkTraditionList"> <span class="pull-left c33 p-r-15 ng-binding">自有人员运维服务器，监控性能</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: tradition in frameworkTraditionList -->
     <li class="f14 tradition cleafix ng-scope" ng-repeat="tradition in frameworkTraditionList"> <span class="pull-left c33 p-r-15 ng-binding">页面复杂，无培训难操作</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: tradition in frameworkTraditionList -->
     <li class="f14 tradition cleafix ng-scope" ng-repeat="tradition in frameworkTraditionList"> <span class="pull-left c33 p-r-15 ng-binding">定制开发，周期更长</span> 
      <div class="pull-left"> 
       <!-- ngRepeat: star in tradition.stars track by $index -->
       <i class="fa fa-star c-orange" ng-repeat="star in tradition.stars track by $index"></i>
       <!-- end ngRepeat: star in tradition.stars track by $index --> 
      </div> </li>
     <!-- end ngRepeat: tradition in frameworkTraditionList --> 
    </ul> 
   </div> 
  </div>
  </div>
	</div>
</div>
<div class="industry">
	<h1>我们的客户覆盖<label>七</label>大行业</h1>
	<h2>您的问题我们听的懂</h2>
	<div class="grid_box">
	<div class="g_list">
		<div class="i_nail" style="position: absolute; left: 0px; top: 0px;">
			<img src="images/img-trade1.jpg"/>
			<div class="title ng-binding">服装</div>
		</div>
		<div class="i_nail" style="position: absolute; left: 306px; top: 0px;">
			<img src="images/img-trade2.jpg"/>
			<div class="title ng-binding">生产制造</div>
		</div>
		<div class="i_nail" style="position: absolute; left: 612px; top: 0px;">
			<img src="images/img-trade3.jpg"/>
			<div class="title ng-binding">电商</div>
		</div>
		<div class="i_nail" style="position: absolute; left: 920px; top: 0px;">
			<img src="images/img-trade4.jpg"/>
			<div class="title ng-binding">三方物流</div>
		</div>
		<div class="i_nail" style="position: absolute; left: 0px; top: 215px;">
			<img src="images/img-trade5.jpg"/>
			<div class="title ng-binding">医药</div>
		</div>
		<div class="i_nail" style="position: absolute; left: 306px; top: 215px;">
			<img src="images/img-trade6.jpg"/>
			<div class="title ng-binding">冷链</div>
		</div>
		<div class="i_nail" style="position: absolute; left: 612px; top: 215px;">
			<img src="images/img-trade7.jpg"/>
			<div class="title ng-binding">零售</div>
		</div>
		<div class="i_nail" style="position: absolute; left: 920px; top: 215px;">
			<img src="images/img-trade8.jpg"/>
			<div class="title ng-binding">了解更多</div>
		</div>
	</div>	
	</div>
</div>
<div class="contrast">
	<div class="cont_c">
		<h1>我们提供的产品</h1>
		<h2>总有一款适合您</h2>
		<div class="product_list">
			<ul>
				<li>
					<div class="product-wrapper">
						<div class="title text-center bg-orange"> <span class="p-t-20 p-b-15 ng-binding">体验版</span> <label class="p-b-15 ng-binding">适合起步阶段的小型仓库</label> </div>
					<ol>
						<li>
							<i>.</i><span>不限物理仓库</span>
						</li>
						<li>
							<i>.</i><span>不限Web及RF收发存作业</span>
						</li>
						<li>
							<i>.</i><span>免费升级最新版本</span>
						</li>
						<li>
							<i>.</i><span>免服务器租用费</span>
						</li>
						<li>
							<i>.</i><span>免服务器运维托管费用</span>
						</li>
						<li>
							<i>.</i><span>免费线上视频教程</span>
						</li>
						<li>
							<i>.</i><span>免费专业顾问线上培训</span>
						</li>
						<li>
							<i>.</i><span>无ERP对接及二次开发服务</span>
						</li>
						<li>
							<i></i><span></span>
						</li>
					</ol>
					<a href="" class="bg-orange">免费试用</a>
					</div>
					
				</li>
				<li>
					<div class="product-wrapper">
						<div class="title text-center bg-green"> <span class="p-t-20 p-b-15 ng-binding">标准版</span> <label class="p-b-15 ng-binding">适合成长期的中型仓库</label> </div>
						<ol>
						<li>
							<i>.</i><span>不限物理仓库/终端用户</span>
						</li>
						<li>
							<i>.</i><span>不限Web及RF收发存作业</span>
						</li>
						<li>
							<i>.</i><span>免费升级最新版本</span>
						</li>
						<li>
							<i>.</i><span>免服务器租用及运维托管费</span>
						</li>
						<li>
							<i>.</i><span>含1套ERP/OMS对接（限奇门）</span>
						</li>
						<li>
							<i>.</i><span>专业顾问一天现场服务</span>
						</li>
						<li>
							<i>.</i><span>个性化权限配置</span>
						</li>
						<li>
							<i>.</i><span>可选择独立部署/独享宽带*</span>
						</li>
						<li>
							<i>.</i><span>按需配置的各类规则（包括但不限于上架、分配、波次、库存优化等）</span>
						</li>
						</ol>
						<a href="" class="bg-green">联系订购</a>
					</div>
				</li>
				<li>
					<div class="product-wrapper">
						<div class="title text-center bg-blue"> <span class="p-t-20 p-b-15 ng-binding">企业版</span> <label class="p-b-15 ng-binding">适合有一定规模的仓库</label> </div>
						<ol>
						<li>
							<i>.</i><span>不限物理仓库/终端用户</span>
						</li>
						<li>
							<i>.</i><span>不限Web及RF收发存作业</span>
						</li>
						<li>
							<i>.</i><span>免费升级最新版本</span>
						</li>
						<li>
							<i>.</i><span>与各类ERP/OMS系统对接</span>
						</li>
						<li>
							<i>.</i><span>专业顾问现场服务（按需付费）</span>
						</li>
						<li>
							<i>.</i><span>个性化权限配置</span>
						</li>
						<li>
							<i>.</i><span>可选择独立部署/独享宽带*</span>
						</li>
						<li>
							<i>.</i><span>按需配置的各类规则</span>
						</li>
						<li>
							<i>.</i><span>二次开发平台支持/各类物流设备接口及功能定制服务</span>
						</li>
						</ol>
						<a href="" class="bg-blue">联系订购</a>
					</div>
				</li>
			</ul>
		</div>
		
		
	</div>
</div>	
<div class="cooperation align-c">
		<h1 class="">合作案例</h1>
		<div class="line"></div>

		<ul class="over-hide">
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_1.html"><img class="w-perCent100" src="images/anli/anli1.jpg"/></a>
				</div>
			</li>
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_2.html"><img class="w-perCent100" src="images/anli/anli2.jpg"/></a>
				</div>
			</li>
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_3.html"><img class="w-perCent100" src="images/anli/anli3.jpg"/></a>
				</div>
			</li>
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_4.html"><img class="w-perCent100" src="images/anli/anli4.jpg"/></a>
				</div>
			</li>
			
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_5.html"><img class="w-perCent100" src="images/anli/anli5.jpg"/></a>
				</div>
			</li>
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_6.html"><img class="w-perCent100" src="images/anli/anli6.jpg"/></a>
				</div>
			</li>
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_7.html"><img class="w-perCent100" src="images/anli/anli7.jpg"/></a>
				</div>
			</li>
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_8.html"><img class="w-perCent100" src="images/anli/anli8.jpg"/></a>
				</div>
			</li>
			
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_9.html"><img class="w-perCent100" src="images/anli/anli9.jpg"/></a>
				</div>
			</li>
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_10.html"><img class="w-perCent100" src="images/anli/anli10.jpg"/></a>
				</div>
			</li>
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_11.html"><img class="w-perCent100" src="images/anli/anli11.jpg"/></a>
				</div>
			</li>
			<li class="col-xs-4 col-sm-4 col-md-2 col-lg-3">
				<div>
					<a href="case/erp_12.html"><img class="w-perCent100" src="images/anli/anli12.jpg"/></a>
				</div>
			</li>
			
		</ul>
		<a href="javascript:void(0)" target="_blank"
		   onclick="hz6d_is_exist('setIsinvited()%3Bwindow.open(#liyc#https%3A%2F%2Fwww6.53kf.com%2FwebCompany.php%3Farg%3D10120886%26style%3D2%26language%3Dzh-cn%26charset%3DGBK%26kflist%3Doff%26kf%3Dhuayang%40lanhaihui.net%26zdkf_type%3D1%26referer%3Dhttp%253A%252F%252Fmes.lanhaihui.net%252Fsolution%252FsystemDevel.html%26keyword%3D%26tfrom%3D1%26tpl%3Dcrystal_blue%26uid%3Dd568953531a4ede9c942dd4a6e9837bf#liyc#%2C%20#liyc#_blank#liyc#%2C%20#liyc#height%3D600%2Cwidth%3D800%2Ctop%3D50%2Cleft%3D200%2Cstatus%3Dyes%2Ctoolbar%3Dno%2Cmenubar%3Dno%2Cresizable%3Dyes%2Cscrollbars%3Dno%2Clocation%3Dno%2Ctitlebar%3Dno#liyc#)');">
			<button>了解更多</button>
		</a>

	</div>
<div class="online_box">
	<h1>截止今天，我们共有</h1>
	<div class="onl_list">
		<ul>
			<li>
				<span>1,207</span>
				<label>注册用户数</label>
			</li>
			<li>
				<span>467</span>
				<label>在线用户数</label>
			</li>
			<li>
				<span>100,100 +</span>
				<label>在线日单量</label>
			</li>
		</ul>
	</div>
</div>
<div class="join-container"> 
	<div class="cn text-center"> 
		<div class="btns"> 
		<a class="btn btn-transparent waves-effect" href="" target="_blank">联系订购</a> </div> 
	</div> 
</div>
<div class="foot_box">
	<ul>
		<li>
			<h1><span class="f2">ERP</span></h1>
			<h2><a href="erp_saas.html">Saas</a></h2>
			<h2><a href="erp_paas.html">Paas</a></h2>
		</li>
		<li>
			<h1><span class="f3">MES</span></h1>
			<h2><a href="mes_pass.html">Paas</a></h2>
		</li>
		<li>
			<h1><span class="f4">WMS</span></h1>
			<h2><a href="wms_saas.html">Saas</a></h2>
			<h2><a href="wms_paas.html">Paas</a></h2>
		</li>
		<li>
			<h1><span class="f5">产品</span></h1>
			<h2><a href="chanpin_aps.html">APS</a></h2>
			<h2><a href="chanpin_oms.html">OMS</a></h2>
			<h2><a href="chanpin_plm.html">PLM</a></h2>
		</li>
		<li>
			<h1><span class="f6">案例</span></h1>
			<h2><a href="anli.html">客户案例</a></h2>
			<h2><a href="anli_jingdian.html">经典案例</a></h2>
		</li>
		<li>
			<h1><span class="f7">关于我们</span></h1>
			<h2><a href="about.html">公司简介</a></h2>
			<h2><a href="manage.html">管理团队</a></h2>
			<h2><a href="social_responsibility.html">社会责任</a></h2>
			<h2><a href="honor.html">资质荣誉</a></h2>			
		</li>
	</ul>
</div>
</body>

<script src="js/jquery.touchSwipe.min.js"></script>
<script src="js/bootstrap-touch-slider.js"></script>
<script type="text/javascript">
	$('#bootstrap-touch-slider').bsTouchSlider();
</script>
<script type="text/javascript">
	$(document).ready(function(){
	  $('.slider3').bxSlider({
		slideWidth: 390,
		minSlides: 2,
		maxSlides: 3,
		moveSlides: 1,
		startSlide: 1,
		slideMargin: 15
	  });
	

	});
//	标签切换
	$(function() { 
	$(".order_title ul > li").click(tab); 
		function tab() { 
		$(this).addClass("hov").siblings().removeClass("hov"); 
		var tab = $(this).attr("title"); 
		$("#" + tab).show().siblings().hide(); 
		}; 
	});
//为什么选择WMS
	$(".choice-list").length && $(".choice-list > li .choice-wrapper").hoverdir({
            hoverElem: ".desc2",
            hoverDelay: 100,
            speed: 500
    });
</script>
<script>
	(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10120886/2";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();
</script>
</html>
