@charset "utf-8";

/*========== comm layout ==========*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	font-size:12px;
	line-height: 160%;
	font-family: 'Hiragino Sans GB','Helvetica',\5FAE\8F6F\96C5\9ED1,"SimHei"; /* mac字体，黑体，xp字体，宋体有点问题，所以不用，除非自写*/
	word-break:break-all;
	word-wrap:break-word;
	background: #fafafa;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
table{border-collapse:collapse;border-spacing:0;empty-cells:show;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins,s { text-decoration: none; }
del { text-decoration: line-through;}
em,i {font-style:normal;}
/* Remove annoying border on linked images. */
a,img { border: none; text-decoration:none; }
a{text-decoration:none;}
a:hover{text-decoration:underline;}a:focus{outline:none;-moz-outline:none;}
a:active{outline:none;blr:expression(this.onFocus=this.blur())}
h1 {font-size: 36px;line-height: 45px;font-weight:normal;}
h2 {font-size: 24px;line-height: 30px;font-weight:normal;}
h3 {font-size: 18px;line-height: 22px;font-weight:normal;}
h4 {font-size: 16px;line-height: 20px;font-weight:normal;}
h5 {font-size: 14px;line-height: 18px;font-weight:normal;}
h6 {font-size: 12px;line-height: 16px;font-weight:normal;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
.clearfix:after {content: '';display: block;height: 0;clear: both;overflow: hidden;}
.clearfix {display: block;}
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.fl {float: left;}.fr {float: right;}
.pr {position: relative; }.pa {position: absolute; }
.f-fH {font-family: 'SimHei';}.f-fM {font-family: 'Hiragino Sans GB','Helvetica','Microsoft YaHei';}.f-fA {font-family: 'SimSun';}.f-fG {font-family: 'Georgia';}
.dis{display:block;}
.undis{display:none;}
.disIb {display:inline-block;}
.of{overflow: hidden;}
.vam {vertical-align: middle;}
.container {margin-left: auto;margin-right: auto;width: 1120px;}
.tac {text-align:center;}
.mt5 {margin-top: 5px;}
.mr5 {margin-right: 5px;}
.ml5 {margin-left: 5px;}
.pb5 {padding-bottom: 5px;}
.mt10 {margin-top: 10px;}
.mr10 {margin-right: 10px;}
.mb10 {margin-bottom: 10px;}
.ml10 {margin-left: 10px;}
.mt15 {margin-top: 15px;}
.mr15 {margin-right: 15px;}
.mb15 {margin-bottom: 15px;}
.ml15 {margin-left: 15px;}
.mt20 {margin-top: 20px;}
.mr20 {margin-right: 20px;}
.mb20 {margin-bottom: 20px;}
.ml20 {margin-left: 20px;}
.mt30 {margin-top: 30px;}
.mr30 {margin-right: 30px;}
.mb30 {margin-bottom: 30px;}
.ml30 {margin-left: 30px;}
.mt40 {margin-top: 40px;}
.mr40 {margin-right: 40px;}
.mb40 {margin-bottom: 40px;}
.ml40 {margin-left: 40px;}
.mt50 {margin-top: 50px;}
.mr50 {margin-right: 50px;}
.mb50 {margin-bottom: 50px;}
.ml50 {margin-left: 50px;}
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pr10 {padding-right: 10px;}
.pb10 {padding-bottom: 10px;}
.pl10 {padding-left: 10px;}
.pt15 {padding-top: 15px;}
.pr15 {padding-right: 15px;}
.pb15 {padding-bottom: 15px;}
.pl15 {padding-left: 15px;}
.pt20 {padding-top: 20px;}
.pr20 {padding-right: 20px;}
.pb20 {padding-bottom: 20px;}
.pl20 {padding-left: 20px;}
.pt30 {padding-top: 30px;}
.pb30 {padding-bottom:30px}
.pl40 {padding-left: 40px;}
.pt50 {padding-top: 50px;}
.pt60 {padding-top: 60px;}
.pb40 {padding-bottom: 40px;}
.pr50 {padding-right: 50px;}
.pb50 {padding-bottom: 50px;}
.pb100{padding-bottom:100px;}
.pl50 {padding-left: 50px;}
.fsize12 {font-size: 12px;}
.fsize14 {font-size: 14px;}
.fsize16 {font-size: 16px;}
.fsize18 {font-size: 18px;}
.fsize20 {font-size: 20px;}
.fsize24 {font-size: 24px;}
.fsize28 {font-size: 28px;}
.fsize34 {font-size: 34px;}
.txtOf {display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.hLh20 {height: 20px;line-height: 20px;}
.hLh30 {height: 30px;line-height: 30px;}

/*========== theam ==========*/
.c-master {color:#60b812;}
.c-red {color: #f04040;}
.c-333 {color: #333;}
.c-666 {color: #666;}
.c-999 {color: #999;}
.c-ccc {color: #ccc;}
.c-fff {color: #fff;}
.c-blue{color:#0f76cb}
.c-orange{color:#fdb900}
.comm-title { clear: both; margin: 90px 0 45px; overflow: hidden;}
.comm-title h2 span { font-family: simhei;font-size: 28px;}
/*-----header style start------*/
.top-wrap {position: absolute; left: 0; top: 0;padding: 10px 0 0;z-index: 9;width: 100%;}
.topbarwrap {width:100%;height:30px;line-height:30px;}
.t-link li {float: left;}
.class-sch-check {width: 102px; height: 30px; line-height: 30px;text-align: center;color: #60b812; border: 1px solid #60b812;display: inline-block;margin-right: 20px;font-size: 16px; font-family: "Microsoft YaHei";}
.class-sch-check:hover {text-decoration: none;opacity: 0.9;-moz-opacity: 0.9;filter:alpha(opacity=9);}
.head-wrap {width: 100%;}

.pw-phone,.m-c-icon,.tf-ico,.tm-time em {background: url("../images/pw-icon.png") no-repeat 0 0;}
.pw-phone {width: 26px; height: 26px; display: inline-block; vertical-align: middle;background-position:-8px -11px;}
.header-line {border-bottom: 2px solid #cfdbbb;}
.DT-arrow { cursor: default; position: absolute; width: 12px;}
.DT-arrow * {cursor: default;display: block;font-family: "SimSun";font-size: 12px; font-style: normal;font-weight: normal;height: 18px; line-height: 1.231;overflow: hidden;}
.DT-arrow span {color: #60b812;}
.DT-arrow-top span {color: #60b812;font-size: 18px;}
.DT-arrow-top {top: -11px; width: 20px;margin-left: -10px; left: 50%;}
.top-bg {background: #fafafa;border-bottom: 2px solid #cfdbbb}
.top-bg .header-line {border: none;}
/*-----header style end------*/
/*-----footer style start------*/

/*-----footer style end------*/
.pagination { padding-top: 30px;}
.pagination ul { border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); display: inline-block;}
.pagination ul li { display: inline;}
.pagination ul li a, .pagination ul li span { background: #ffffff; border: 1px solid #dddddd; border-left: none; color: #454545; float: left; line-height: 20px; padding: 10px 22px; text-decoration: none;cursor: pointer;}
.pagination ul li a:hover { background-color: #ff4800; color: #fff; transition: all 0.3s ease 0s;-webkit-transiton: .3s;-moz-transiton: .3s;}
.pagination ul .active a, .pagination ul .active a:hover { background-color: transparent; color: #999;}
.pagination ul .active a, .pagination ul .active span {color: #60b812; font-weight: bold;}
.pagination ul .disabled span, .pagination ul .disabled a, .pagination ul .disabled a:hover {background-color: transparent; color: #999999; cursor: default;}
.pagination ul li:first-child a, .pagination ul li:first-child span {border-radius: 4px 0 0 4px; border-left: 1px solid #ddd;}
.pagination ul li:last-child a, .pagination ul li:last-child span {border-radius: 0 4px 4px 0;}
