/* line 2, ../sass/_index.scss */
.banner {
  padding-top: 150px;
  height: 600px;
  background: url("../images/zn_0914/coo_banner.jpg") #413393 no-repeat center center;
  text-align: center;
  box-sizing: border-box;
}
/* line 7, ../sass/_index.scss */
.banner p {
  margin-top: 28px;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}
/* line 13, ../sass/_index.scss */
.banner a {
  margin-top: 50px;
  display: inline-block;
  width: 185px;
  height: 50px;
  background: #F90000;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}

/* line 24, ../sass/_index.scss */
.recTil {
  padding: 55px 0 60px;
}
/* line 26, ../sass/_index.scss */
.recTil h2 {
  font-size: 34px;
  line-height: 1;
  color: #333;
  text-align: center;
}

/* line 33, ../sass/_index.scss */
.recSet {
  padding-bottom: 40px;
  border-bottom: 1px solid #dcdcdc;
}
/* line 36, ../sass/_index.scss */
.recSet ul {
  margin: 0 auto;
  width: 1060px;
  font-size: 0;
}
/* line 40, ../sass/_index.scss */
.recSet ul li {
  margin: 0 20px 20px 0;
  padding-top: 40px;
  display: inline-block;
  width: 340px;
  height: 290px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  transition: 0.2s;
}
/* line 52, ../sass/_index.scss */
.recSet ul li h3 {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1;
  color: #333;
}
/* line 58, ../sass/_index.scss */
.recSet ul li p {
  display: inline-block;
  width: 285px;
  font-size: 14px;
  line-height: 30px;
  color: #828282;
}
/* line 65, ../sass/_index.scss */
.recSet ul li .recSet-img {
  margin-bottom: 32px;
  display: inline-block;
  width: 72px;
  height: 72px;
}
/* line 72, ../sass/_index.scss */
.recSet ul li:nth-child(3n) {
  margin-right: 0;
}
/* line 75, ../sass/_index.scss */
.recSet ul li:nth-child(n+4) {
  margin-bottom: 0;
}
/* line 78, ../sass/_index.scss */
.recSet ul li:nth-child(1) .recSet-img {
  background: url("../images/recSet01.png") no-repeat center center;
}
/* line 81, ../sass/_index.scss */
.recSet ul li:nth-child(2) .recSet-img {
  background: url("../images/recSet02.png") no-repeat center center;
}
/* line 84, ../sass/_index.scss */
.recSet ul li:nth-child(3) .recSet-img {
  background: url("../images/recSet03.png") no-repeat center center;
}
/* line 87, ../sass/_index.scss */
.recSet ul li:nth-child(4) .recSet-img {
  background: url("../images/recSet04.png") no-repeat center center;
}
/* line 90, ../sass/_index.scss */
.recSet ul li:nth-child(5) .recSet-img {
  background: url("../images/recSet05.png") no-repeat center center;
}
/* line 93, ../sass/_index.scss */
.recSet ul li:nth-child(6) .recSet-img {
  background: url("../images/recSet06.png") no-repeat center center;
}
/* line 96, ../sass/_index.scss */
.recSet ul li:hover {
  background: #6150ca;
  border: 1px solid #6150ca;
}
/* line 99, ../sass/_index.scss */
.recSet ul li:hover h3 {
  color: #fff;
}
/* line 100, ../sass/_index.scss */
.recSet ul li:hover p {
  color: #fff;
}
/* line 101, ../sass/_index.scss */
.recSet ul li:hover .recSet-img {
  transition: 0.6s;
  transform: rotateY(360deg);
}
/* line 106, ../sass/_index.scss */
.recSet ul li:nth-child(1):hover .recSet-img {
  background: url("../images/recSet01_act.png") no-repeat center center;
}
/* line 109, ../sass/_index.scss */
.recSet ul li:nth-child(2):hover .recSet-img {
  background: url("../images/recSet02_act.png") no-repeat center center;
}
/* line 112, ../sass/_index.scss */
.recSet ul li:nth-child(3):hover .recSet-img {
  background: url("../images/recSet03_act.png") no-repeat center center;
}
/* line 115, ../sass/_index.scss */
.recSet ul li:nth-child(4):hover .recSet-img {
  background: url("../images/recSet04_act.png") no-repeat center center;
}
/* line 118, ../sass/_index.scss */
.recSet ul li:nth-child(5):hover .recSet-img {
  background: url("../images/recSet05_act.png") no-repeat center center;
}
/* line 121, ../sass/_index.scss */
.recSet ul li:nth-child(6):hover .recSet-img {
  background: url("../images/recSet06_act.png") no-repeat center center;
}

/* line 126, ../sass/_index.scss */
.recPar {
  padding-bottom: 50px;
  border-bottom: 1px solid #dcdcdc; overflow: hidden;
}
/* line 129, ../sass/_index.scss */
.recPar ul {  
  display: -webkit-box; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  width: 1060px;
}
/* line 133, ../sass/_index.scss */
.recPar ul li {
  -webkit-box-flex: 1; 
  -moz-box-flex: 1; 
  -webkit-flex: 1; 
  -ms-flex: 1; 
  flex: 1;
  margin-right: 20px;
  padding-top: 145px;
  height: 390px;
  box-sizing: border-box;
  text-align: center;
  background: #f5f5f5;
  position: relative;
}
/* line 142, ../sass/_index.scss */
.recPar ul li h3 {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1;
  color: #333;
}
/* line 148, ../sass/_index.scss */
.recPar ul li p {
  margin-bottom: 38px;
  display: inline-block;
  width: 294px;
  font-size: 14px;
  line-height: 28px;
  color: #828282;
}
/* line 156, ../sass/_index.scss */
.recPar ul li a {
  display: inline-block;
  width: 156px;
  height: 42px;
  background: #6150ca;
  font-size: 16px;
  line-height: 42px;
  color: #fff;
}
/* line 165, ../sass/_index.scss */
.recPar ul li img {
  margin-left: -42px;
  display: block;
  position: absolute;
  top: 35px;
  left: 50%;
}
/* line 173, ../sass/_index.scss */
.recPar ul li:last-child {
  margin-right: 0;
}
/* line 177, ../sass/_index.scss */
.recPar ul li:hover img {
  -webkit-animation: recPar 0.65s linear 1;
  -webkit-animation: recPar 0.65s linear 1;
  -moz-animation: recPar 0.65s linear 1;
  -ms-animation: recPar 0.65s linear 1;
  -o-animation: recPar 0.65s linear 1;
  animation: recPar 0.65s linear 1;
}

@-webkit-keyframes recPar {
  0% {
    margin-top: 0;
  }
  30% {
    margin-top: -35px;
  }
  40% {
    margin-top: -35px;
  }
  50% {
    margin-top: 0;
  }
  65% {
    margin-top: -15px;
  }
  80% {
    margin-top: 0;
  }
  90% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0;
  }
}
@-moz-keyframes recPar {
  0% {
    margin-top: 0;
  }
  30% {
    margin-top: -35px;
  }
  40% {
    margin-top: -35px;
  }
  50% {
    margin-top: 0;
  }
  65% {
    margin-top: -15px;
  }
  80% {
    margin-top: 0;
  }
  90% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0;
  }
}
@-ms-keyframes recPar {
  0% {
    margin-top: 0;
  }
  30% {
    margin-top: -35px;
  }
  40% {
    margin-top: -35px;
  }
  50% {
    margin-top: 0;
  }
  65% {
    margin-top: -15px;
  }
  80% {
    margin-top: 0;
  }
  90% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0;
  }
}
@-o-keyframes recPar {
  0% {
    margin-top: 0;
  }
  30% {
    margin-top: -35px;
  }
  40% {
    margin-top: -35px;
  }
  50% {
    margin-top: 0;
  }
  65% {
    margin-top: -15px;
  }
  80% {
    margin-top: 0;
  }
  90% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes recPar {
  0% {
    margin-top: 0;
  }
  30% {
    margin-top: -35px;
  }
  40% {
    margin-top: -35px;
  }
  50% {
    margin-top: 0;
  }
  65% {
    margin-top: -15px;
  }
  80% {
    margin-top: 0;
  }
  90% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0;
  }
}
/* line 238, ../sass/_index.scss */
.recTool {
  padding-bottom: 40px;
  border-bottom: 1px solid #dcdcdc;
}
/* line 241, ../sass/_index.scss */
.recTool ul {
  margin: 0 auto;
  width: 1060px;
  font-size: 0;
}
/* line 245, ../sass/_index.scss */
.recTool ul li {
  margin-bottom: 50px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 0;
}
/* line 251, ../sass/_index.scss */
.recTool ul li img {
  display: inline-block;
  line-height: 1;
  vertical-align: top;
}
/* line 258, ../sass/_index.scss */
.recTool ul li:nth-last-child(-n+2) {
  margin-bottom: 0;
}
/* line 262, ../sass/_index.scss */
.recTool ul li:hover img {
  transition: 0.6s;
  transform: rotate(360deg);
}
.recTool ul li:hover h3,.recTool ul li:hover p{
  color: #6150ca;
}

/* line 269, ../sass/_index.scss */
.recTool-box {
  width: 416px;
  display: inline-block;
  vertical-align: top;
  padding: 15px 78px 0 30px;
  box-sizing: border-box;
}
/* line 274, ../sass/_index.scss */
.recTool-box h3 {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1;
  color: #333;
}
/* line 280, ../sass/_index.scss */
.recTool-box p {
  font-size: 14px;
  line-height: 24px;
  color: #828282;
}

/* line 286, ../sass/_index.scss */
.recCost {
  padding-bottom: 60px;
  border-bottom: 1px solid #dcdcdc;
}
/* line 289, ../sass/_index.scss */
.recCost ul {
  margin: 0 auto;
  width: 1060px;
  display: -webkit-box; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex;
}
/* line 293, ../sass/_index.scss */
.recCost ul li {
  margin-right: 20px;
  padding-top: 145px;  
  -webkit-box-flex: 1; 
  -moz-box-flex: 1; 
  -webkit-flex: 1; 
  -ms-flex: 1; 
  flex: 1;
  height: 280px;
  background: #f5f5f5;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
/* line 302, ../sass/_index.scss */
.recCost ul li h3 {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1;
  color: #333;
}
/* line 308, ../sass/_index.scss */
.recCost ul li p {
  font-size: 14px;
  line-height: 28px;
  color: #828282;
}
/* line 313, ../sass/_index.scss */
.recCost ul li img {
  margin-left: -36px;
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
}
/* line 321, ../sass/_index.scss */
.recCost ul li:last-child {
  margin-right: 0;
}
/* line 325, ../sass/_index.scss */
.recCost ul li:hover img {
  -webkit-animation: recPar 0.65s linear 1;
  -webkit-animation: recPar 0.65s linear 1;
  -moz-animation: recPar 0.65s linear 1;
  -ms-animation: recPar 0.65s linear 1;
  -o-animation: recPar 0.65s linear 1;
  animation: recPar 0.65s linear 1;
}

/* line 337, ../sass/_index.scss */
.recFlow { width: 100%; 
  padding-bottom: 50px; overflow: hidden;
}
/* line 339, ../sass/_index.scss */
.recFlow ul {
  margin: 0 auto;
  width: 1000px;
  display: -webkit-box; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex;
}
/* line 343, ../sass/_index.scss */
.recFlow ul li {
  text-align: center;
}
/* line 345, ../sass/_index.scss */
.recFlow ul li img {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}
/* line 350, ../sass/_index.scss */
.recFlow ul li h3 {
  margin-top: 36px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1;
  color: #333;
}
/* line 357, ../sass/_index.scss */
.recFlow ul li p {
  font-size: 14px;
  line-height: 28px;
  color: #828282;
}
/* line 363, ../sass/_index.scss */
.recFlow ul li:nth-child(2n-1) {
  -webkit-box-flex: 5; 
  -moz-box-flex: 5; 
  -webkit-flex: 5; 
  -ms-flex: 5; 
  flex: 5;
}
/* line 366, ../sass/_index.scss */
.recFlow ul li:nth-child(2n) {
  -webkit-box-flex: 3; 
  -moz-box-flex: 3; 
  -webkit-flex: 3; 
  -ms-flex: 3; 
  flex: 3;
}
/* line 370, ../sass/_index.scss */
.recFlow ul li:hover img.act {
  transform: rotateX(360deg);
  transition: 0.6s;
}
/* line 376, ../sass/_index.scss */
.recFlow a {
  margin: 65px auto 0;
  display: block;
  width: 184px;
  height: 50px;
  background: #6150ca;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: #fff !important;
}
.recCase{
  padding-bottom: 60px;
  background: #6150ca;
}
.recCase .recTil h2{
  color: #fff;
}
.recCase-box{
  margin: 0 auto;
  width: 1250px;
}
.recCase dl {
  margin-bottom: 35px;
}
.recCase dl dd ul{
  font-size: 0;
}
/* line 177, ../sass/_index.scss */
.recCase dl dt {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 35px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: #8777eb;
  margin-right: 45px;
  line-height: 35px;
}
/* line 189, ../sass/_index.scss */
.recCase dl dd {
  display: inline-block;
  vertical-align: middle;
}
/* line 193, ../sass/_index.scss */
.recCase dl dd ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  width: 180px;
  height: 60px;
  border: 1px solid #aaaaaa;
}
/* line 200, ../sass/_index.scss */
.recCase dl dd ul li img {
  width: 100%;
  height: 100%;
}
/* line 205, ../sass/_index.scss */
.recCase dl dd ul li:last-child {
  margin-right: 0;
}
.recCase dl:last-child{
  margin-bottom: 0;
}
/* line 212, ../sass/_index.scss */
.recCase dl:last-child dt {
  margin-top: 12px;
  vertical-align: top;
}
/* line 217, ../sass/_index.scss */
.recCase dl:last-child dd ul {
  margin-bottom: 36px;
}
.recCase a{
  margin: 0 auto ;
  display: block;
  width: 344px;
  height: 50px;
  background: #F90000;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}

.search{
  margin: 0 auto;
  padding-bottom: 80px;
  width: 1200px;
}
.search-box{
  text-align: center;
  margin-bottom: 40px;
  font-size: 0;
}
input[name="search"]{
  padding-left: 30px;
  width: 620px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #ccc;
  border-right: none;
  box-sizing: border-box;
  background: #f5f5f5;
  font-size: 18px;
  color: #555555;
}
.search-btn{
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  height: 44px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #ff9827;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  line-height: 45px;
  color: #fff;
}
.search-off{
  width: 100%;
  height: 38px;
  text-align: center;
  background: #ddd;
  font-size: 18px;
  line-height:  38px;
  color:#333;
}
.search-table{
  padding: 20px 20px 40px;
  background: #f5f5f5;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-top: none;
}
.search-table ol{
  border: 1px solid #ccc;
  height: 44px;
  font-size: 0;
}
.search-table ol li{
  width: 382px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 44px;
  color: #333333;
  padding-left: 15px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.search-table ol li:last-child{
  border-right: 0;
}
.search-table ul{
  border: 1px solid #ccc;
  height: 44px;
  border-top: 0;
  font-size: 0;
}
.search-table ul li{
  width: 382px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 44px;
  color: #333;
  padding-left: 15px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.search-table ul li:last-child{
  border-right: 0;
}

